*{
    margin:0px;
    padding:0px;
}
header{
    width: 100%;
    overflow: auto;
    background: black;
    padding: 0px 20px;     
}
.title{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    padding:10px 0px;
    margin:0px;
    color:#fff;
    float:left;
}
.background_image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg.png);
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
}
.info_part{
    display: none;
    
}
.back_button{
    position: absolute;
    top: -60px;
}
.col-centered{
    float:none;
    margin:10% auto 0px auto;
}
.input_error{
    color:red;
    font-size:12px;
}
.userNotFound{
    position: absolute;
    top: -110%;
    left: 28%;
    display:none;
}
.infoText{
    font-size: 20px;
    font-weight: 600;
}
.followerList{
    margin-top: 50px;
}
.followerImage{
    padding: 15px;
}
.loadMore{
    margin: 20px auto;
    display: block;
}